@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page-mainContainer">
    <div class="page-filter">
        <h3 class="page-filter-title">Welcome Developer</h3>
    </div>
    <div class="home-page-container">

        <div class="home-page-projectList">
            <div class="projectList-header">
                <div class="projectList-header-title">
                    <h3>All Projects</h3>
                </div>
                <div class="projectList-header-filter">
                    <input type="text" name="ProjectName" class="jsProjectName search-input" placeholder="Search project name" />

                </div>
            </div>

            <div class="projectlist-body">
            </div>

        </div>
    </div>
</div>
