
@{
    //ViewData["Title"] = "Home Page";
}

<div class="home-page-mainContainer jsInventoryMapContainer">
    <div class="page-filter">
        <i class="jsBack back-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="height: 20px;"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"></path></svg>
        </i>
        <h3 class="page-filter-title jsProjectTitle" style="text-transform: capitalize"></h3>
    </div>
    <div class="home-page-container">

        <div class="home-page-projectList">
            <div class="projectList-header" style="grid-template-columns: 1fr">
                <div class="projectList-header-title">
                    <h3>Upload Inventory Map</h3>
                </div>
            </div>

            <div class="projectlist-body">
                <div class="svgFileUploadContainer jsSvgFileContainer">
                    <input type="file" class="SVGFileInput jsSVGFileInput" hidden accept=".svg"/>
                    <img src="" class="SVGFilePreview jsSVGFilePreview"/>
                    <small>Click to Open file</small>
                </div>
                <div class="UploadBtnContainer">
                    <button class="svg-upload-btn jsUploadBtn">Upload</button>
                </div>
            </div>
        </div>
    </div>

</div>

