
.home-page-container {
    padding: 15px 10px;
    /*padding-top: 0;*/
}


    .home-page-container span {
        font-size: 13px;
    }


.home-page-agentList {
}

.projectList-header {
    padding: 10px;
    background: #505358;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.search-input {
    height: 37px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}

.projectList-header-title {
    /*line-height: 18px;*/
    display: flex;
    align-items: center;
}

.projectList-header-title h3 {
    color: #FFF;
}

.projectList-header-title small {
    color: #999;
    font-size: 13px;
}


.projectList-body {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    background: #dcdfe4;
}


.projectList-footer a {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    border: none;
}




